<!DOCTYPE html>
<html>
  <head>
    <title> Form </title>
  </head>
  <body>
    <h1>Team Ama-Goog </h1>
    <br>
    <h1>Mohidul Abedin and Joseph Yusufov</h1>
    {%if invalidlogin_error%}
      {{invalidlogin_error}}
    {%endif%}
    <form action = "/auth">
      Enter your username:
      <input type = "text" name = "username" required> <br>
      Enter your password:
      <input type="password" name="password" required> <br>
      <input type = "submit" name = "sub1"> <br>
    </form>
  </body>
</html>
