#first{
  background-color: aqua;
}

#second{
  background-color: yellow;
}
.sadface{
    width:400px;
    height:400px;
}

.rounded{
    width:400px;
    height:400px;
}
#img{
    background-color: white;
}
#description{
    background-color: white;
    padding-top: 150px;
    font-size: 40px;
    color: black;
}
.progress-bar{
    width: 95%;
    background-color: #4BA2D8;

}
.progress{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}
button[type=button]{
    width: 400px;
}
