<!DOCTYPE html>
<head>
  {% block head %}
    {% block style %}
      <style>
      </style>
    {% endblock %}
    <title> {% block title %} {% endblock %}
      -|- My First Page
    </title>
  {% endblock %}
</head>
<body>

    {% block header %}
        <h1>Team Ama-Goog </h1>
        <br>
        <h1>Mohidul Abedin and Joseph Yusufov</h1>
    {% endblock %}

    {% block flashing %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <span>{{ message }}</span>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    {% endblock %}

    {% block content %}
        Mo and Joseph are the GOVERNMENT <br>
    {% endblock %}

    {% block footer %}
        &copy; Copyright 2019 <br>
        This site uses cookies. <br>
        <a href = "http://www.pointless.com/"> Ama-Goog inc. </a>
    {% endblock %}
</body>
</html>
