{% extends "base.html" %}
<!DOCTYPE html>
<html>
  <head>
    {% block style %}
      <style>
        .messages span{ 
          color: white;
          padding: 5px;
          margin: 5px;
          display: inline-block;
          background-color: red;
          font-size: 2em;
        }
      </style>
    {% endblock %}
      <title>
          {% block title %}
              Welcome
          {% endblock %}
      </title>
  </head>
  <body>
    {% block content %}
        <!-- {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <span>{{ message }}</span>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %} -->
        <form action = "/auth">
                Enter your username:
            <input type = "text" name = "username" required> <br>
                Enter your password:
            <input type="password" name="password" required> <br>
            <input type = "submit" name = "sub1"> <br>
        </form>
    {% endblock %}
  </body>
</html>
